/* Estilo del área de juego */
body {
    margin: 0;
    overflow: hidden; /* Evita el scroll en la página */
}

#gameArea {
    background-image: url('../img/fondo-mundo.png');
    background-size: cover; /* Hace que la imagen de fondo cubra todo el área */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen de fondo */
    position: relative;
    width: 100vw; /* Ancho completo de la ventana */
    height: 100vh; /* Altura completa del área de juego */
    border: 1px solid #000; /* Borde negro */
}

.player {
    width: 5vw; /* Jugador con ancho proporcional a la ventana */
    height: 5vw; /* Jugador con altura proporcional */
    background-image: url('../img/astro-removebg-preview.png'); /* Imagen de fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute; /* Permite moverlo libremente */
    bottom: 0; /* Posicionado en la parte inferior */
}

.falling-div {
    width: 50px;
    height: 50px;
    background-image: url('../img/estrella.png'); /* Imagen de fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
}

.dangerous-div {
    width: 20vh;
    height: 20vh;
    background-image: url('../img/asteroide-removebg-preview.png'); /* Imagen de fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    border-radius: 50%;
}

@media (max-width: 600px) {
    /* Ajustes adicionales para pantallas pequeñas */
    .player {
        width: 6vw; /* Jugador más grande en pantallas pequeñas */
        height: 6vw;
    }

    .falling-div {
        width: 6vw; /* Bloques que caen más grandes en pantallas pequeñas */
        height: 6vw;
    }
}